html(lang="zh-CN")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		//-其他的meta请放在后面
		title= title
		link(rel="icon" href="/images/LOGO.png")
		link(rel="stylesheet" href="/stylesheets/css/bootstrap.min.css")
		link(rel="stylesheet" href="/stylesheets/css/bootstrap-theme.min.css")
		link(rel="stylesheet" href="/stylesheets/starter-template.css")
		script(type = "text/javascript").
			window.onload=function(){
				var navbarElement = document.getElementsByName('mybar');
				var navbarList = navbarElement[0].getElementsByTagName('li');
				for(var i=0; i<navbarList.length;i++)
				{
					navbarList[i].className = "";
					console.log("当前路径是:"+window.location.href);
					console.log("准备匹配: "+navbarList[i].getElementsByTagName('a')[0].href+"\n");
					if(navbarList[i].getElementsByTagName('a')[0].href.indexOf(window.location.href)>=0)//说明存在这个标签
					{
						navbarList[i].className = "active";
						console.log("匹配");
						return 0;
						
					}
				}
			}
	body
		nav.navbar.navbar-inverse.navbar-fixed-top
			div.container
				div.navbar-header
					a.navbar-brand(href="#") Lyle Space 
				div#navbar.collapse.navbar-collapse(name = 'mybar')
					ul.nav.navbar-nav
						li.active
							a(href="/") 主页
						li
							a(href="/home") 博客列表
						li
							a(href="/edit") 发表文章
						li
							a(href="#") 关于作者
						li
							a(href="/login") 登陆
		