html(lang="zh-CN")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		//-其他的meta请放在后面
		title= title
		link(rel="icon" href="/images/LOGO.png")
		link(rel="stylesheet" href="/stylesheets/css/bootstrap.min.css")
		link(rel="stylesheet" href="/stylesheets/css/bootstrap-theme.min.css")
		link(rel="stylesheet" href="/stylesheets/starter-template.css")
	body
		nav.navbar.navbar-inverse.navbar-fixed-top
			div.container
				div.navbar-header
					a.navbar-brand(href="#") Lyle Space 
				div#navbar.collapse.navbar-collapse
					ul.nav.navbar-nav
						li.active
							a(href="/") 主页
						li
							a(href="/home") 博客列表
						li
							a(href="/edit") 发表文章
						li
							a(href="#") 关于作者
						li
							a(href="/login") 登陆
		