body
	nav.navbar.navbar-inverse.navbar-fixed-top
		div.container
			div.navbar-header
				a.navbar-brand(href="#") Swing the Sword 
			div#navbar.collapse.navbar-collapse
				ul.nav.navbar-nav
					li.active
						a(href="#") Home
					li
						a(href="login") Login
					li
						a(href="about") About
					li
						a(href="Contact") Contact
	div.container
		div.starter-template
			h1 哈哈哈哈哈哈哈
			p.lead
				include lyric
	p= message

	script(src="/javascripts/jquery-1.12.3.min.js")
	script(src="/javascripts/bootstrap.min.js")
	//- fd