include 1nav
br
br
div.container
	//-加载编辑器的容器
	div.row
		div.col-xs-12.col-lg-10
			form(role = "form"  action = "/edit" method = "post")
				div.form-group
					br
					div.row
						div.col-xs-4.col-lg-2
							label
								文章标题:
						div.col-xs-8.col-lg-10
							input#articleID(name = "articleTittle" type = "text" placeholder = "请输入博客标题").form-control
					br
					div.row
						div.col-xs-4.col-lg-2
							label
								您的称呼:
							br
						div.col-xs-8.col-lg-10
							input#authorName(name = "articleAuthor" type = "text" placeholder = "请输入您的称呼").form-control
					br
					br
					div.row
						div.col-xs-12.col-lg-12
							script#inputbox(name="articleBody" type="text/plain" style="width:1000 height:600") 快点来输入一千个字
					br
					div.row
						div.col-xs-10.col-lg-11
						div.col-xs-2.col-lg-1
							input(name = "submitButton" type = "submit" value = "提交" width = 100)



script(type="text/javascript" src="/ueditor/ueditor.config.js")
//-编辑器源码文件
script(type="text/javascript" src="/ueditor/ueditor.all.js")
//-实例化编辑器
script(type="text/javascript").
	var ue= UE.getEditor('inputbox');
script(src="/javascripts/jquery-1.12.3.min.js")
script(src="/javascripts/bootstrap.min.js")
//- fd