doctype html
html(lang="zh-CN")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		//-其他的meta请放在后面
		title= title
		link(rel="icon" href="/images/LOGO.png")
		link(rel="stylesheet" href="/stylesheets/css/bootstrap.min.css")
		link(rel="stylesheet" href="/stylesheets/css/bootstrap-theme.min.css")
		link(rel="stylesheet" href="/stylesheets/starter-template.css")
	body
		nav.navbar.navbar-inverse.navbar-fixed-top
			div.container
				div.navbar-header
					a.navbar-brand(href="#") Swing the Sword 
				div#navbar.collapse.navbar-collapse
					ul.nav.navbar-nav
						li.active
							a(href="#") Home
						li
							a(href="about") About
						li
							a(href="Contact") Contact
		div.container
			div.starter-template
				h1 哈哈哈哈哈哈哈哈哈哈
				p.lead
					你好,现在开始写博客
		div.container
			//-加载编辑器的容器
			script#inputbox(name="content" type="text/plain" style="width:900px") 快点来输入一千个字
		//-配置文件
		p= message
		//-加载ueditor
	
		
		script(type="text/javascript" src="/ueditor/ueditor.config.js")
		//-编辑器源码文件
		script(type="text/javascript" src="/ueditor/ueditor.all.js")
		//-实例化编辑器
		script(type="text/javascript").
			var ue= UE.getEditor('inputbox');
		script(src="/javascripts/jquery-1.12.3.min.js")
		script(src="/javascripts/bootstrap.min.js")
		//- fd