include 1nav
br
br
block list-Content
	div.container
		- each val in article
			div.row
				//- 每一行是一片文章
				div.col-xs-12.col-lg-8.divider-color
					div.row  
						div.col-xs-7.col-lg-7
							a.blog-title(href =  "\/list\/"+val.articleID) !{val.tittle}
						div.col-xs-2.col-lg-2.blog-author-time
							label 作者:!{val.authorName}
						div.col-xs-3.col-lg-3.blog-author-time
							label 时间:!{val.publishTime}
					//- 内容行
					div.row.primary-text-color 
						div.col-xs-12.col-lg-12
							p !{val.content}
							- if (val.hasMore == 1)
								a.moreIndicator(href =  "\/list\/"+val.articleID) 查看更多
				div.col-xs-12.col-lg-4
				//- 图片行s
			br
			br