include 1nav
br
br
div.container
	- each val in article
		div.row
			div.col-xs-8.col-lg-8 
				div.row
					div.col-xs-6.col-lg-6 
						h1(href) !{val.tittle}
					div.col-xs-6.col-lg-6
						label !{val.authorName}
						label !{val.publishTime}
				//- 内容行
				div.row
					div.col-xs-12.col-lg-12
						p !{val.content}
			div.col-xs-4.col-lg-4
			//- 图片行