include 1nav
	div.container(style="margin:50px 5px 15px 20px")
	form(action='/login' method='post')
		br
		名字:
		input(name='nameArea' type='text')-/
		br
		邮箱:
		input(name='emailArea' type='email')
		br
		密码:
		input(name='passwordArea' type='password')
		br
		input(name='fileArea' type='file')
		input(name='submitButtonArea' type='submit')
			