p(style="align= right")
	ul
		li If the hero never comes to you.
		li 若英雄不来救美而你无法退场
		li If you need someone you're feeling blue
		li 若你需要个人而你正为此忧伤
		li If you wait for love and you’re alone.
		li 若你在企盼爱而你偏独守空房
		li If you call your friends and nobody's home.
		li 若你给朋友打电话却没人在家
		li You can run away but you can't hide
		li 你可以逃避但你绝不可以隐藏
		li Through a storm and through a lonely night.
		li 一场风暴一个孤独的夜晚过后
		li Then I show you there's a destiny.
		li 我让你明白人各有命成事在天
		li The best things in life, they're free.
		li 生命中美好的东西，那是无价的
		li But if you wanna cry, cry on my shoulder
		li 但若你想哭，想哭就靠我肩膀上
		li If you need someone who cares for you
		li 若你需要个人关怀
		li If you're feeling sad your heart gets colder
		li 若你时时感觉悲伤,内心寒冷
		li Yes I show you what real love can do
		li 是的我来为你展示真爱的奇迹
		li If your sky is grey oh let me know.
		li 若你的天空阴沉一定告诉我
		li There's a place in heaven where we'll go.
		li 天堂有个地方我们会去一趟
		li If heaven is a million years away.
		li 若去天堂的路有要走一百万年
		li Oh just call me and I make your day.
		li 哦，给我来电我会让你开心
		li When the nights are getting cold and blue.
		li 当夜晚变得寒冷和忧伤
		li When the days are getting hard for you.
		li 当白天对你变的艰难，
		li I will always stay here by your side.
		li 我会守在这儿在你的身旁
		li I promise you I'll never hide.
		li 我承诺我绝不逃避
		li But if you wanna cry, cry on my shoulder
		li 但若你想哭，想哭就靠我肩膀上
		li If you need someone who cares for you
		li 若你需要个人关怀
		li If you're feeling sad your heart gets colder
		li 若你时时感觉悲伤，内心寒冷
		li Yes I show you what real love can do
		li 是的我来为你展示真爱的奇迹
		li But if you wanna cry, cry on my shoulder
		li 但若你想哭，想哭就靠我肩膀上
		li If you need someone who cares for you
		li 若你需要个人关怀
		li If you're feeling sad your heart gets colder
		li 若你时时感觉悲伤，内心寒冷
		li Yes I show you what real love can do
		li 是的让我来为你展示真爱的奇迹
		li What real love can do.

		li What real love can do.

		li What love can do.

		li What love can do.