nav.navbar.navbar-inverse.navbar-fixed-top
	div.container
		div.navbar-header
			a.navbar-brand(href="#") Lyle Space 
		div#navbar.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.active
					a(href="/") 主页
				li
					a(href="/home") 博客列表
				li
					a(href="/edit") 发表文章
				li
					a(href="#") 关于作者
				li
					a(href="/login") 登陆